<!DOCTYPE html>


<div class="footerWrap">
<table style="width: 100%">
	<tr>
		<td valign="top" width="50%">
		<table style="width: 100%">
			<tr>
				<td class="footerHeader">Company Information</td>
				<td class="footerHeader">Customer Service</td>
			</tr>
			<tr>
				<td class="footerText"><a id="company" href="../../../Company-Information">Company</a></td>
				<td class="footerText"><a id="contactUs" href="../../../Contact-Us">Contact Us</a></td>
			</tr>
			<tr>
				<td class="footerText"><a id="dealerLocator" href="../../../Request-a-Quote">Request a Quote</a></td>
				<td class="footerText"><a id="faq" href="../../../FAQ">FAQ</a></td>
			</tr>
			<tr>
				<td class="footerText"><a id="furnitureMaintenance" href="../../../Furniture-Maintenance">Furniture Maintenance</a></td>
				<td class="footerText"><a id="privacyPolicy" href="../../../Privacy-Policy">Privacy Policy</a></td>
			</tr>
			<tr>
				<td class="footerText"><a id="generalProductInformation" href="../../../General-Product-Information">General Product Information</a></td>
				<td class="footerText"><a id="warrantyInformation" href="../../../Warranty-Information"">Warranty Information</a></td>
			</tr>
			<tr>
				<td class="footerText"><a id="contractFurniture" href="http://www.WinstonFurniture.com" target="_blank">Retail Furniture</a></td>
				<td class="footerText"><!--<a id="termsConditions" href="../../../Terms-and-Conditions">Terms &amp; Conditions</a>--></td>
			</tr>
			<tr>
				<td class="footerText"><a id="blog" href="http://outdoorfurniturenews.com/" target="_blank">Blog</a></td>
				<td class="footerText"><!--<a id="siteMap" href="../../../Site-Map">Site Map</a>--></td>
			</tr>
		</table>
		</td>
		<td valign="top" width="25%">
		<table style="width: 100%">
			<tr>
				<td class="footerHeader">Winston Products</td>
			</tr>
			<tr>
				<td class="footerText">


                   lvProductList


                </td>
			</tr>
		</table>
		</td>
		<td valign="top" abbr="25%">
		<table style="width: 100%">
			<tr>
				<td class="footerHeader">Join the Conversation</td>
			</tr>
			<tr>
				<td>
                
                <div class="footerSocial">
                Click the "Like" button on our facebook page and recieve promotional offers, product updates, and other news 
                from Texacraft and Tropic Craft.
                </div>
                <br />
                <div align="center" class="footerText">
                <!--
                <a href="http://www.Jumbuh.com/WinstonFurniture">
				    <img alt="Jumbuh.com !!!" class="styleJumbuh" Border="0"
                        longdesc="Personal Interest Networking" 
                        src="../Graphics/Jumbuh.com.gif" />
                    </a>
                        &nbsp;&nbsp;&nbsp;
                        -->
                <a href="http://www.facebook.com/winstoncontractfurniture" target="_blank">
                        <img alt="FaceBook" class="styleIcons" border="0"
                        src="../../../Graphics/facebook-winston-furniture.jpg" />
                </a>
                        &nbsp;&nbsp;&nbsp;
                <a href="http://www.twitter.com/winstoncontract" target="_blank">
                    <img alt="Twitter" class="styleIcons" border="0"
                        src="../../../Graphics/twitter-winston-furniture.jpg" />
                </a>
                </div>
                </td>
			</tr>
		</table>
		</td>
	</tr>
</table>
</div>


<br />

<table width="100%">
<tr>
    <td width="33%"></td>
    <td width="33%" class="footerText" align="center">
<asp:Label ID="lblCurrentYear" runat="server" /> Winston Furniture Company&nbsp;&copy;
</td>
    <td align="right">
        <img alt="" class="style1" src="../../../Graphics/winstoncontract-footer-logo.gif" /></td>
</tr>
</table>

<br />
<br />
