@{
    ViewBag.Title = "BJI Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Management</h2>

    <table>
      <tbody>
        <tr>
          <td>
            <p>
              <table width="100%" cellpadding="3">
                <tbody>
                  <tr>
                    <td vAlign="top">
                      <img src="../../Content/Images/Portraits/Gene-Moriarty.jpg" border="0">
                    </td>
                    <td vAlign="top">






                      <p>
                        <b>Gene Moriarty</b>
							  <br><br>serves as President and Chief Executive Officer of Brown Jordan International. 
	Mr. Moriarty began his employment with Brown Jordan International in May 2005 and subsequently engineered a 
	turnaround in the Company’s performance based upon:</p>
                      <p>    - 
									Low cost manufacturing through best business processes  
								</p>
                      <p>    - 
									A disciplined New Product Development process  
								</p>
                      <p>    - 
									Supply Chain rationalization  
								</p>
                      <p>    - 
									Margin enhancement throughout all Brown Jordan International’s businesses  
								</p>
                      <p>    - 
									Revitalization of the Specialty Retail segment of the business  
								</p>
                      <p>    - 
									Reinvestment in meaningful brand-building initiatives  
								</p>

                      <p>Prior to joining Brown Jordan International, Mr. Moriarty was President and Chief Operating Officer 
	at Evenflo Baby Products, an equity holding of KKR, starting in June 2000. From 1997 to 2000, 
	he was Vice President of Sales and Marketing for Playtex Products. Before serving in these 
	top management positions, he was an Executive Consultant with Meridian Consulting Group. 
	Mr. Moriarty has also served in executive positions with Tambrands, Inc. and Slim Fast Foods, 
	and was Vice President of Sales and Marketing for the Warner Music Division of Time Warner, Inc.</p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr>
            </p>








            <p>
              <table width="100%" cellpadding="3">
                <tbody>
                  <tr>
                    <td vAlign="top">
                      <img src="../../Content/Images/Portraits/Vincent-Tortorici.jpg" border="0">
                    </td>
                    <td vAlign="top">
                      <p>
                        <b>Vincent A. Tortorici, Jr.</b>
							  <br /><br />
                            has served as Chief Financial Officer of the Company and its predecessors since March 1988. 
	In addition, Mr. Tortorici has held numerous positions as Vice President and Treasurer of the Company, 
	its predecessors and subsidiaries. Prior to being employed by Brown Jordan International, Mr. Tortorici was with 
	Arthur Andersen & Co. from 1976-1988. Mr. Tortorici is a Certified Public Accountant.

                            <br /><br />
                            In September 2012, Vincent was selected by the Jacksonville Business Journal as one of the areas 
                            "<a href="http://www.bizjournals.com/jacksonville/blog/2012/09/2012-ultimate-cfos.html" target="_blank">Ultimate CFOs</a>" 
                            which highlights the area’s top financial leaders.
                            <!--
							<br />

                            <table cellpadding="0">
                                <tr>
                                    <td>
                            <a href="../../Content/Images/Portraits/Vincent_09242012_Scan_01.jpg" target="_blank">
                                <img alt="Vincent" src="../../Content/Images/Portraits/Vincent_09242012_Scan_01_.jpg" border="0" />
                            </a>
                                    </td>
                                    <td>
                            <a href="../../Content/Images/Portraits/Vincent_09242012_Scan_02.jpg" target="_blank">
                                <img alt="Vincent" src="../../Content/Images/Portraits/Vincent_09242012_Scan_02_.jpg" border="0" />
                            </a>
				-->
                                    </td>
                                </tr>
                            </table>
                        </p>
                      
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr>
            </p>
            <p>
              <table width="100%" cellpadding="3">
                <tbody>
                  <tr>
                    <td vAlign="top">
                      <img src="../../Content/Images/Portraits/Fred Headshot 1 - 8-2010 H128W102.jpg" border="0">
                    </td>
                    <td vAlign="top">
                      <p>
                        <b>Fred King</b>
							  <br><br>serves as Executive Vice President, General Counsel and Corporate Secretary of Brown Jordan International, Inc. 
	Mr. King began his employment with Brown Jordan International in September 2006 and is responsible for the following areas 
	in the Company:</p>
                      <p>    - 
									Legal Affairs  
								</p>
                      <p>    - 
									Human Resources  
								</p>
                      <p>    - 
									Risk Management  
								</p>
                      <p>
        In addition, Mr. King is responsible for management of the Company’s Contract Seating business unit.
        <br /><br />
        Prior to joining Brown Jordan International, Mr. King was Vice President, General Counsel and Corporate 
        Secretary of Givaudan Flavors Corporation and Givaudan Fragrances Corporation, the world’s largest flavors 
        and fragrances company. He was with Givaudan from 2000 through 2006.
        <br /><br />
        From 1997 to 2000, Mr. King served as Vice President, General Counsel of Standard Textile Co., Inc., a global leader 
        in the manufacture and distribution of healthcare and surgical products, hospitality products and apparel.
        <br /><br />
        From 1994 to 1997, Mr. King was a corporate attorney with The Progressive Group of Insurance Companies, the nation’s 
        third largest automobile insurer. Mr. King began his legal career as an associate at Squire, Sanders & Dempsey,
		a global law firm based in Cleveland with 37 offices worldwide and over 1,200 attorneys.
		<br /><br />
        Mr. King holds a Bachelors of Science in Mechanical Engineering from The Ohio State University and a Juris Doctorate 
        from The Ohio State University College of Law.
    </p>
                    </td>
                  </tr>
                </tbody>
              </table>
              <hr>
            </p>








            <p>
              <table width="100%" cellpadding="3">
                <tbody>
                  <tr>
                    <td vAlign="top">
                      <img src="../../Content/Images/Portraits/Bill-Snow.jpg" border="0">
                    </td>
                    <td vAlign="top">
                      <p>
                        <b>Bill Snow</b>
							  <br><br>as Chief Information Officer for Brown Jordan International, leads the Company’s 
	Information Technology strategy and initiatives. Mr. Snow has been with Brown Jordan International since June, 2002. 
	Prior to joining the Company, he served for seven years as CIO at Catalina Lighting, a major 
	supplier of residential lighting products for mass merchants and lighting showrooms. 
	He began his career in I.T. consulting, providing technology solutions for mid-sized enterprises 
	in the chemical, aviation, marine craft, construction, machine tools, and electronics industries.</p>
                      
                    </td>
                  </tr>
                </tbody>
              </table>
            </p>



		  </td>
        </tr>
      </tbody>
    </table>

