@{
    ViewBag.Title = "Brown Jordan International Corporate";
}


<div id="flashAnim">

<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" 
codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0"
width="977" height="382" id="HomePageImageLoop60" align="middle">

<param name="allowScriptAccess" value="sameDomain" />
<param name="movie" value="Graphics/Flash/HomePageImageLoop60.swf" />
<param name="quality" value="high" />
<param name="bgcolor" value="#ffffff" />

<embed src="Graphics/Flash/HomePageImageLoop60.swf" 
quality="high" bgcolor="#ffffff" 
width="977" height="382"
 name="HomePageImageLoop60" align="middle" allowScriptAccess="sameDomain" 
 type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />

</object>
</div>



<h2>Overview</h2>

    <p>Brown Jordan International is a leading designer, manufacturer and marketer of quality home 
    furnishings and contract furnishings, selling a full range of products.  Brown Jordan International offers innovative designs, 
    superior quality, efficient production methods and a strong portfolio of recognized brands including  
    Brown Jordan,  Winston, Casual Living, Charter, Lodging by Liberty, Tropitone, Wabash and Winston Contract. 
    Brown Jordan International products include indoor and outdoor chairs, tables, sofas, and love seats for home 
    and commercial use.  Brown Jordan International serves consumers through a network sales representatives, specialty dealers, 
    company showrooms and mass merchandisers and provides products to institutions in multiple markets including 
    hospitality, government and multi-family housing.</p>
    <p>Brown Jordan International is privately held and its corporate office is located in St. Augustine, Florida.  Brown Jordan International is 
    vertically integrated with numerous manufacturing facilities and sales offices located both domestically 
    and internationally throughout the United States, Mexico, China, India, Thailand, Indonesia and Vietnam.  
    All of the 1,700 employees throughout our six separate operating subsidiaries worldwide share a deep passion for excellence 
    and an abiding commitment to our customers.  Brown Jordan International’s products have always been and will always be 
    synonymous with the best in quality and value.</p>