@{
    ViewBag.Title = "BJI - Casual Liv ingWorldwide";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Casual Living Worldwide</h2>

<div id="brandImage">
<img src="../../Content/Images/Companies/clw.jpg" />
</div>

<br />

<div class="sectionHeader">> <a href="Companies">Companies</a> > <b>Casual Living Worldwide</b></div>

<br />

<p>The National Accounts and Direct Imports Division of Brown Jordan International is the leader in trend, design, and product innovation for the outdoor 
furniture industry.  Brown Jordan International uses on time shipping, competitive costs, customer service and the highest level of quality standards at 
the design and manufacturing stages to increase the performance and profitability of its clients.</p>  
<p>Brown Jordan International’s global team manages its 
concentrated supply network to specialize in superior furnishings in a variety of materials.  Brown Jordan International is the market leader in synthetic 
woven technologies protected by over 60 US and international patents and the largest woven capacity in the industry.  Brown Jordan International also 
produces outdoor furniture in a variety of other categories ranging from cast aluminum to steel.  Brown Jordan International markets its products under 
the La-Z-Boy, Sun Isle, Body Glove, Alliance and Casual Living brands. </p> 
<p>Brown Jordan International also manufactures for numerous private label brands 
including Better Homes and Gardens and Hampton Bay.  Some of Brown Jordan International’s customers include The Home Depot, Wal-Mart, Sam’s, Costco, 
Target, Canadian Tire, Crate and Barrel, American Furniture and a large number of Specialty customers.  
<p>Brown Jordan International was recently honored 
at the SPARC (Supplier Performance Awards by Retail Category) Awards presented by DSN Retailing Today to recognize suppliers that 
have developed outstanding merchandising programs that meet the needs of retailers.  The SPARC Awards Program is the only 
industry-wide recognition program for the national mass, specialty, wholesale club, and food and drug retailing channels.  
Nominations for top supplier are made by the department buyers at the leading retailers across the country and selections are 
based on rankings by each retailer’s general merchandise manager(s).  Brown Jordan International is also a two-time recipient of the Wal-Mart supplier 
of the year award.</p>

<div class="companyName">Website:
<a href="http://www.bjifurniture.com" target="_blank">www.BJIFurniture.com</a>
</div>

<br />
<a alt="Click here to visit us on FaceBook" href="http://www.facebook.com/pages/BJI-Outdoor-Living/182997705074730?sk=wall"><img src="Graphics/Facebook_DShad_H36.jpg" border="0"/></a>
