@{
    ViewBag.Title = "BJI - Charter Furniture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Charter Furniture</h2>

<div id="brandImage">
<img src="../../Content/Images/Companies/chr.jpg" />
</div>

<br />

<div class="sectionHeader">> <a href="Companies">Companies</a> > <b>Charter Furniture </b></div>

<br />

<p>
Charter Furniture is a leading designer and manufacturer of medium to high end furniture for the hospitality industry.
</p>
<p>
Charter has the ability to manufacture globally which allows for the flexibility to accommodate small quantities for suites and public spaces, 
as well as large quantities for guest rooms.
</p>
<p>
Working closely with nationally known hotel chains, hospitality interior design firms and large purchasing companies, 
Charter has developed a reputation for quick response, full scale project support and proven ability to execute almost any type of custom seating specification.
</p>
<p>
From the initial design rendering stage, through prototyping, budgeting, engineering review, mock-up rooms and final approvals, 
Charter has the in-house knowledge and experience to deliver the final project on time and on budget. Charter can translate virtually 
any type of seating idea into reality with its strong global network of key component suppliers in categories such as lounge, task, 
wood dining, banquet stacking and booth designs.
</p>  
 



<div class="companyName">Website:
<a href="http://www.charterfurniture.com/" target="_blank">www.CharterFurniture.com</a>
</div>
