@{
    ViewBag.Title = "BJI - Our Companies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Our Companies</h2>

<ul>
<li>
<div class="companyName">
<a href="Brown-Jordan">Brown Jordan Furniture</a>
</div>
<br />
Brown Jordan was established in 1945 by Robert Brown and Hubert Jordan in Pasadena, California. A company best known for producing custom wrought iron tables and chairs, Brown Jordan steadily evolved to manufacture original furniture designs made of extruded, wrought and cast aluminum, stainless steel, teak, and woven resin. Sales were principally to interior designers specifying quality furnishings to both contract and residential clientele.  
<span class="a2">
<a href="Brown-Jordan" class="a2">more...</a>
</span>
<br />
<br />
</li>

<li>
<div class="companyName">
<a href="Casual-Living-Worldwide">Casual Living Worldwide</a>
</div>
<br />
The National Accounts and Direct Imports Division of Brown Jordan International is the leader in trend, design, and product innovation for the outdoor furniture industry. Brown Jordan International uses on time shipping, competitive costs, customer service and the highest level of quality standards at the design and manufacturing stages to increase the performance and profitability of its clients. Some of Brown Jordan International’s customers include The Home Depot, Wal-Mart, Sam’s, Costco, Target, Canadian Tire, Crate and Barrel, American Furniture and a large number of Specialty customers. 
<span class="a2">
<a href="Casual-Living-Worldwide">more...</a>
</span>
<br />
<br />
</li>


<li>
<div class="companyName">
<a href="Charter-Furniture">Charter Furniture</a>
</div>
<br />
Charter Furniture is a leading designer and manufacturer of medium to high end furniture for the hospitality industry.  
Charter has the ability to manufacture globally which allows for the flexibility to accommodate small quantities for suites and public spaces, as well as large quantities for guest rooms. 
Working closely with nationally known hotel chains, 
<span class="a2">
<a href="Charter-Furniture">more...</a>
</span>
<br />
<br />
</li>

<li>
<div class="companyName">
<a href="Tropitone-Commercial">Tropitone Commercial</a>
</div>
<br />
Tropitone's goal is to provide our customers what they want, when they want it – the first time, every time.
The Tropitone Furniture Company and the Tropitone® brand were born in 1954 when Mr. Burt M. Baker bought the Sarasota Redwood Furniture Company and switched from redwood to aluminum for the frames of his outdoor patio furniture. The Tropitone Furniture Company was originally established to serve the commercial market for outdoor patio furniture that included hotels, motels, clubs and resorts.
<span class="a2">    <a href="Tropitone-Commercial">more...</a>
</span>
<br />
<br />
</li>

<li>
<div class="companyName">
<a href="Tropitone-Residential">Tropitone Residential</a>
</div>
<br />
Tropitone's goal is to provide our customers what they want, when they want it – the first time, every time.
The Tropitone Furniture Company and the Tropitone® brand were born in 1954 when Mr. Burt M. Baker bought the Sarasota Redwood Furniture Company and switched from redwood to aluminum for the frames of his outdoor patio furniture. The Tropitone Furniture Company was originally established to serve the commercial market for outdoor patio furniture that included hotels, motels, clubs and resorts.
<span class="a2">
    <a href="Tropitone-Residential">more...</a>
</span>
<br />
<br />
</li>

<li>
<div class="companyName">
<a href="Wabash-Valley">Wabash Valley</a>
</div>
<br />
Wabash Valley, located in Silver Lake, Indiana, has become the recognized leader and world’s largest manufacturer of plastisol coated site furniture used in municipalities, schools, amusement parks and other commercial applications.
<span class="a2">
<a href="Wabash-Valley">more...</a>
</span>
<br />
<br />
</li>

<li>
<div class="companyName">
<a href="Winston-Furniture">Winston Furniture</a>
</div>
<br />
Since 1975, Winston Furniture has been producing casual outdoor furniture that caters to the style-conscious yet discriminating consumer. Through the merging of contemporary manufacturing technologies, weather resistant materials and eclectic designs, the collections represent desirable and enduring casual furnishing. 
<span class="a2">
<a href="Winston-Furniture">more...</a>
</span>
<br />
<br />
</li>


<li>
<div class="companyName">
<a href="Winston-Contract">Winston Contract</a>
</div>
<br />
    Winston Contract is one of the largest manufacturers of commercial outdoor furniture. For over three decades, Winston Contract has produced the highest quality, most durable furniture in the industry to style-conscious yet discriminating clients aimed specifically at apartments, condominiums, hotels, and country clubs. Through the merging of modern manufacturing technologies, weather-resistant materials and eclectic designs, the Winston Contract collections represent the finest in commercial outdoor extruded and cast aluminum casual furniture.
<span class="a2">
<a href="Winston-Contract">more...</a>
</span>
<br />
<br />
</li>


</ul>

