@{
    ViewBag.Title = "BJI - Tropitone Commercial";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tropitone Commerical</h2>

<div id="brandImage">    
    <img src="../../Content/Images/Companies/TropitoneCommercial.jpg" />
</div>

<br />

<div class="sectionHeader">> <a href="Companies">Companies</a> > <b>Tropitone Commerical</b></div>
<br />
<p>Tropitone's goal is to provide our customers what they want, when they want it – the first time, every time. </p>
<p>The Tropitone Furniture Company and the Tropitone® brand were born in 1954 when Mr. Burt M. Baker bought the Sarasota Redwood Furniture Company and switched from redwood to aluminum for the frames of his outdoor patio furniture. The Tropitone Furniture Company was originally established to serve the commercial market for outdoor patio furniture that included hotels, motels, clubs and resorts. </p>
<p>Tropitone® brand outdoor patio furniture could soon be found around the lawns, gardens, patios and pools of commercial and residential properties around the country. Today, Tropitone has full-service manufacturing and distribution operations in Sarasota, FL and Irvine, CA, providing Tropitone the ability to quickly respond to ever-changing marketplace conditions for outdoor patio furniture by being close to North American customers. Tropitone Furniture Company's bi-coastal presence provides the Tropitone® brand with the unique ability to specialize in two key service requirements of commercial customers: 1) short order-to-ship cycle time; and 2) customized outdoor patio furniture manufactured and shipped within that short cycle time.</p>
<p>The Tropitone Furniture Company has created the Tropitone® MODA™ and Tropitone® VALORA™ brands as complements to the Tropitone® brand. Tropitone® MODA™ provides distinctive fashion solutions for extraordinary spaces. Tropitone® MODA™ is the gracious, elegant, stylish companion to the fun-loving and approachable performance of Tropitone®. The Tropitone® VALORA™ group represents the reliable and hard-working side of Tropitone®. Using a variety of attractive materials that cover a wide range of outdoor spaces, Tropitone® VALORA™ outdoor patio furniture designs are beautifully styled, yet created in consideration of basic utility and budget constraints.</p>
<p>Tropitone Furniture Company has satisfied the product and service requirements of those that design and use the World’s most enjoyable commercial & residential outdoor spaces since 1954</p>

<div class="companyName">Website:
<a href="https://www.tropitone.com/outdoor-furniture/commercial" target="_blank">www.Tropitone.com</a>
</div>

<br />
<a alt="Click here to visit us on FaceBook" href="https://www.facebook.com/TropitoneFurniture"><img src="../Graphics/Facebook_DShad_H36.jpg" border="0"/></a>
