@{
    ViewBag.Title = "BJI - Tropitone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tropitone</h2>

<div id="brandImage">
<img src="../../Content/Images/Companies/bjc.jpg" />
</div>

<br />

<div class="sectionHeader">> <a href="Companies">Companies</a> > <b>Brown Jordan Furniture</b></div>
<br />
<p>Brown Jordan was established in 1945 by Robert Brown and Hubert Jordan in Pasadena, California.  A company best known for producing custom wrought iron tables and chairs, Brown Jordan steadily evolved to manufacture original furniture designs made of extruded, wrought and cast aluminum, stainless steel, teak, and woven resin.  Sales were principally to interior designers specifying quality furnishings to both contract and residential clientele.</p>
<p>Over the years, Brown Jordan earned a solid reputation based on classic designs, quality construction, and knowledgeable sales and service. A reputation that distinguishes itself as the most recognized name in the casual furniture industry.  Others have noticed.  Brown Jordan has won seventeen Design Excellence awards for its furniture – more than any other manufacturer in the industry.</p>
<p>Today, Brown Jordan’s product offering fuses over 60 years of leadership in producing quality, comfortable and durable furnishings.  Offering innovative designs that complement every architectural requirement, these fine furnishings are built to withstand the rigorous demands of the hospitality and lodging industry, and to satisfy the most discriminating consumer for the finest residences.</p>
<p>Brown Jordan has skillfully developed the finest weatherproof materials and the latest manufacturing techniques to ensure product durability without compromising value, comfort or styling.  The Company successfully combines design and technology to create furniture which meets the highest criteria of fit, form and function.  Distinctive silhouettes are hand and machine crafted into furnishings which will enhance traditional, contemporary or eclectic environments.</p>

<div class="companyName">Website:
<a href="http://www.brownjordan.com" target="_blank">www.BrownJordan.com</a>
</div>

<br />
<a alt="Click here to visit us on FaceBook" href="http://www.facebook.com/home.php#!/brownjordancompany"><img src="../Graphics/Facebook_DShad_H36.jpg" border="0"/></a>
