@{
    ViewBag.Title = "BJI - Wabash Valley";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wabash Valley</h2>

<div id="brandImage">
<img src="../../Content/Images/Companies/wabash.jpg" />
</div>

<br />
<div class="sectionHeader">> <a href="Companies">Companies</a> > <b>Wabash Valley</b></div>
<br />

<p>Wabash Valley was founded in 1978 by the Shilling family serving the agricultural industry as a manufacturer of confinement 
livestock equipment. The company was known for its plastisol coated swine flooring which was extremely durable and offered the 
utmost in animal comfort. In 1989 the company hit a home run when it introduced a line of outdoor site amenities consisting of 
plastisol coated picnic tables, benches and trash receptacles. These products became so popular with municipalities, schools, 
amusement parks and other commercial applications that it soon exited the agricultural segment of its business to devote all its 
resources to the manufacture of outdoor furniture.</p>
<p>When Wabash Valley joined Brown Jordan International in 2000, it had become the recognized leader and world’s largest manufacturer 
of plastisol coated site furniture. Located in Silver Lake, Indiana, the company employs 165 people at its ultra-modern 235,000 sq, ft 
facility. </p>
<p>In the spring of 2007, Wabash Valley introduced Urbanscape, beautiful outdoor furniture with high-end designs and extreme 
durability – all at an incredibly competitive price. This architecturally designed line will feature our new faux-wood finishes.</p>


<div class="companyName">Website:
<a href="http://www.wabashvalley.com" target="_blank">www.WabashValley.com</a>
</div>

<br />
<a alt="Click here to visit us on FaceBook" href="http://www.facebook.com/pages/BJI-Outdoor-Living/182997705074730?sk=wall#!/pages/Wabash-Valley-Mfg-Inc/191721834180934"><img src="Graphics/Facebook_DShad_H36.jpg" border="0"/></a>

