@{
    ViewBag.Title = "BJI - Winston Furniture";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Winston Furniture</h2>

<div id="brandImage">
<img src="../../Content/Images/Companies/winston.jpg" />
</div>

<br />
<div class="sectionHeader">> <a href="Companies">Companies</a> > <b>Winston Furniture</b></div>
<br />

<p>Since 1975, Winston Furniture has been a major fashion design innovator and service manufacturing leader in the casual 
    furniture industry.  The unsurpassed quality of Winston outdoor furniture is well known.</p>

    <p>Winston Furniture presents casual outdoor furniture that caters to the style-conscious yet discriminating consumer.  
    Through the merging of contemporary manufacturing technologies, weather resistant materials and eclectic designs, the 
    collections represent desirable and enduring casual furnishing.  Over the years, Winston has been voted as the winner 
    of the Manufacturer’s Leadership Award by its retail dealers 5 times, and has won numerous Design Excellence awards.</p>

    <p>Winston’s diverse offering represents the finest in extruded and cast aluminum casual furniture.  Contemporary and 
    durable fabric slings and tailored cushions complete the individual collections.  Winston depicts stylish and distinguished 
    furnishings for year round enjoyment.</p>

    <p>Winston’s Furniture serves as a prime example of superior American-made product.  Winston’s 250,000 square foot, 
    state-of-the-art aluminum manufacturing facility in Haleyville, Alabama, is one of the most technologically advanced 
    facilities of its kind in the casual furniture industry. </p>


<div class="companyName">Website:
<a href="http://www.winstonfurniture.com" target="_blank">www.WinstonFurniture.com</a>
</div>

<br />
<a alt="Click here to visit us on FaceBook" href="http://www.facebook.com/home.php#!/winstonfurniture"><img src="Graphics/Facebook_DShad_H36.jpg" border="0"/></a>
