@{
    ViewBag.Title = "BJI - Winston Contract";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Winston Contract</h2>

<div id="brandImage">
<img src="../../Content/Images/Companies/tex.jpg" />
</div>

<br />
<div class="sectionHeader">> <a href="Companies">Companies</a> > <b>Winston
    Contract</b></div>
<br />

<p>
    Winston Contract is one of the largest manufacturers of commercial outdoor furniture.  For over three decades, Winston Contract has 
produced the highest quality, most durable furniture in the industry to style-conscious yet discriminating clients aimed 
specifically at apartments, condominiums, hotels,  and country clubs.  Through the merging of modern manufacturing technologies, 
weather-resistant materials and eclectic designs, the Texacraft collections represent the finest in commercial outdoor extruded 
and cast aluminum casual furniture.</p>
<p>
    Winston Contract’s diverse product category offerings will satisfy any of your outdoor furnishing needs.  
Couple this with a variety of strap, frame and durable fabric colors and you have a perfect answer to distinguished 
commercial furnishing for year-round enjoyment.</p>

<div class="companyName">Website:
<a href="http://www.WinstonContract.com" target="_blank">www.WinstonContract.com</a>
</div>

<br />
<a alt="Click here to visit us on FaceBook" href="http://www.facebook.com/pages/BJI-Outdoor-Living/182997705074730?sk=wall#!/winstoncontractfurniture"><img src="Graphics/Facebook_DShad_H36.jpg" border="0"/></a>
