@{
    ViewBag.Title = "BJI Core Competencies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Core Competencies</h2>

<p>Brown Jordan International is comprised of seven
operating divisions, which manufacture and distribute outdoor furniture to the Mass
Market National Accounts, Specialty Retail and Contract Markets as well as indoor
furniture for the hospitality and lodging markets. The point of commonality behind
the respective divisions is the central focus against the Company’s operating core
competencies.    </p>
<ul>
<li>Low Cost Manufacturer - Committed to
being able to provide a better price/value proposition for all of our products
through best practices in lean manufacturing and alternate sourcing.
</li>
<li>New Product Development - Innovation
in design through internal and best in class external product designers. The Company
is focused on creating market leading new products that provide the best business
solution for our customers. </li>

<li>Quality and Service - The Company is driven by
the highest quality standards in the development of our product lines.
We deliver superior service in providing on time and complete orders.</li>

<li>Brand Building - The Company
has some of the leading brands within the segments in
which we compete . The Company is committed to innovative approaches
to building the most comprehensive marketing and awareness campaigns
to support our brands. In addition, we are constantly looking for innovative
ideas through internal development and acquisition of patented intellectual
property.</li>
</ul>
